<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask Expert</title>
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand font-weight-bolder" href="#" >Lab Test Menu</a>
          <a class="btn btn-outline-primary" onclick="window.history.back()"><i class="fas fa-home"></i></a>
        </div> 
     </div>
</nav>
<!-- end nav-bar -->

<div class="jumbotron jumbotron-fluid m-5">
  <div class="container">
    <h2 class="display-4">Laboratory Testing list</h2>
    <p class="lead">All testing lists provided with care, accuracy and experiece with world standards.</p>
  </div>
</div>
<div class="container">
<div class="content">
 <h4> OUR TESTING MENU INCLUDES IN THE FOLLOWING CATEGORIES</h4>
 <strong> 10 most important lab tests for adults to have done regularly</strong>
 <ul>
   <li>Complete blood count</li>
   <li>basic metabolic tests</li>
   <li>Compelete metabolic tests</li>
   <li>Lipid test</li>
   <li>Thyroid tests</li>
   <li>Enzyme markers</li>
   <li>Std test</li>
   <li>Coagulation tests</li>
   <li>Allergy tests</li>
   <li>Tumer markers</li>
 </ul>
</div>

</div>
        <script src="../scripts/jQuery-3.5.1.js"></script> 
              
</body>
</html>