*{
    margin:0;
    padding:0;
}

.mid-both{
    width:30%;
    float:left;
    height:50px;
}
.cface{
width:100%;
height:500px;
background-image :linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cface.jpg");
background-size:cover;
background-attachment: fixed;
}
.container .nav-item:hover{
    border-bottom:3px solid blue;
}
section{
    width:100%;
    height: auto;
    margin:30px 0px;
    padding:30px 0px;
}
.news{
    width:100%;
    height:400px;
    color:rgb(52, 44, 98);
    background-color:whitesmoke;
}
.news input{
    padding:0.35rem 0.75rem;
    border-radius:.25rem;
    width:300px;
}
.news .btn{
    width:200px;
    height:40px;
}

.footer{
    width:100%;
    height:auto;
    background-color:rgba(158, 158, 158, 0.5);
}
.fotimg img{
width:60px;
height:60px;
margin:20px;
border-radius: 50%;
}
.rights{
    width:100%;
    height:30px;
    text-align: center;
    font-size: small;
    line-height: 30px;
}
/*
About Page
*/
.vision{
    width:100%;
    height:400px;
    background-image: url();
}
.mission{
    width:100%;
    height:400px;
    background-image: url();
}
.values{
    width:100%;
    height: 500px;
    background-color: whitesmoke;
}
.middle{
    width: 100%;
    height:200px;
    text-align: center;
    color: blue;
    padding:20px 0px;
}
/*
 End About Page
*/


